*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:370px;
    text-align:center;
    animation:fade .8s ease;
}

.logo{
    width:120px;
    height:120px;
    object-fit:contain;
    margin-bottom:12px;
}

.subtitle{
    color:rgba(255,255,255,.35);
    font-size:16px;
    margin-bottom:25px;
}

.form{
    display:block;
}

.hidden{
    display:none;
}

.input-box{
    width:100%;
    height:62px;
    background:#050510;
    border:1px solid rgba(255,255,255,.1);
    border-radius:36px;
    display:flex;
    align-items:center;
    padding:0 25px;
    margin-bottom:18px;
}

.input-box i{
    color:#8e8e8e;
    font-size:20px;
    margin-right:15px;
}

.input-box input{
    flex:1;
    background:none;
    border:none;
    outline:none;
    color:#fff;
    font-size:16px;
}

.input-box input::placeholder{
    color:#666;
}

.eye{
    cursor:pointer;
}

.btn{
    width:100%;
    height:68px;
    border:none;
    border-radius:40px;
    cursor:pointer;
    margin-top:15px;

    background:linear-gradient(
        90deg,
        #7B3FE4,
        #C22D88
    );

    color:white;
    font-size:18px;
    font-weight:700;
    letter-spacing:1px;

    box-shadow:
    0 0 25px rgba(123,63,228,.25),
    0 0 35px rgba(194,45,136,.25);

    transition:.3s;
}

.btn:hover{
    transform:scale(1.02);
}

.footer{
    margin-top:18px;
    color:rgba(255,255,255,.45);
    font-size:15px;
}

.footer a{
    color:#D43D8F;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
}

.message{
    margin-top:15px;
    color:#fff;
    font-size:15px;
    min-height:20px;
}

.success{
    color:#45ff91;
}

.error{
    color:#ff5c5c;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.identity-title{
    color:white;
    margin-bottom:25px;
}

.avatar-preview{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

.avatar-preview img{
    width:140px;
    height:140px;
    border-radius:50%;
    border:4px solid #A93AE4;
}

.avatar-list{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:25px;
}

.avatar-option{
    width:65px;
    height:65px;
    border-radius:50%;
    cursor:pointer;
    opacity:.7;
    transition:.3s;
}

.active-avatar{
    opacity:1;
    border:3px solid #A93AE4;
}

.gender-container{
    display:flex;
    gap:15px;
    margin-top:20px;
    margin-bottom:25px;
}

.gender-card{
    flex:1;
    background:#050510;
    border:1px solid rgba(255,255,255,.1);
    border-radius:25px;
    padding:25px 10px;
    color:white;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.gender-card.selected{
    border:2px solid #A93AE4;
    box-shadow:0 0 15px rgba(169,58,228,.5);
}
